<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scy.mapper.CustomerMapper">
    <!-- 定义映射规则 这里使用了mybatis-config.xml定义了别名,原理是Sqlsession设置了Configuration -->
    <resultMap id="customerSimpleMap" type="Customer">
        <!--  主键映射 -->
        <id property="id" column="id"/>
        <!--  属性映射 -->
        <result property="name" column="name"/>
        <result property="phone" column="phone"/>
    </resultMap>

    <resultMap id="customerMap" type="Customer">
        <!--  主键映射 -->
        <id property="id" column="id"/>
        <!--  属性映射 -->
        <result property="name" column="name"/>
        <result property="phone" column="phone"/>
        <!-- 映射addresses集合 -->
        <collection property="addresses" javaType="list" ofType="Address">
            <id property="id" column="address_id"/>
            <result property="street" column="street"/>
            <result property="city" column="city"/>
            <result property="country" column="country"/>
        </collection>
    </resultMap>

    <!--    ### Error querying database.  Cause: java.lang.IndexOutOfBoundsException: Index 3 out of bounds for length 3-->
    <!--    使用了 customerMap 而不是 customerSimpleMap -->
    <select id="find" resultMap="customerSimpleMap">
        SELECT * FROM t_customer WHERE id = #{id:INTEGER}
    </select>

    <select id="findWithAddress" resultMap="customerMap">
        select c.*, a.id as address_id, a.*
        from t_customer as c
                 join t_address as a
                      on c.id = a.customer_id
        where c.id = #{id:INTEGER}
    </select>

    <select id="findByOrderId" resultMap="customerSimpleMap">
        select *
        from t_customer as c
                 join t_order as t
                      on c.id = t.customer_id
        where t.customer_id = #{id:INTEGER}
    </select>

    <insert id="save" keyProperty="id" useGeneratedKeys="true">
        insert into t_customer (id, name, phone)
        values (#{id}, #{name}, #{phone})
    </insert>
</mapper>