<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scy.mapper.ProductMapper">
    <resultMap id="resultMap" type="com.scy.domain.Product">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <result property="price" column="price"/>
    </resultMap>

    <select id="find" resultMap="resultMap">
        select * from t_product where id = #{id:INTEGER}
    </select>

    <select id="findByName" resultMap="resultMap">
        select * from t_product
        where name like concat('%',#{name},'%')
    </select>

    <insert id="save" keyProperty="id" useGeneratedKeys="true">
        insert into t_product(name, description, price)
        values (#{name},#{description},#{price})
    </insert>
</mapper>